body{
    width: 720px;
    margin: 0 auto;
    background:linear-gradient(to right, #6CD7FF, #D0ECFF, #B2E8E0, #E8E880);
}
#ages{
    display: flex;
    width: 450px;
    height: 50px;
    margin: 50% auto;
    text-align: center;
    border-radius: 25px;
    font-size: 16px;
}
.spanne{
    text-align: center;
}