h1{
    font-variant: small-caps;
}
p{
    text-align: center;
    font-size: 24px;
    color: #666666;
}
input{
    margin: 10px;
}
input[name="talk"]{
    display: block;
    position:relative;
    left:5%;
    font-size: 12px;
}
input[name="Press"]{
    display: block;
    position:relative;
    left:5%;
}
ul li{
    position: relative;
    left: 5%;
    font-variant: small-caps;
    font-size: 24px;
}
input[radio]{
    display:flex;
    position: relative;
    margin: 30px;
}