body {
    width: 720px;
    margin: 0 auto;
    background:white;
    overflow-y: visible;
    color: black;
}
div#exercice1,div#exercice2,div#exercice3,div#exercice3bis,div#exercice4,div#exercice5{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1b546b), color-stop(25%,#1bb3a8), color-stop(45%, #800109), color-stop(85%, burlywood));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.folds {
    margin-bottom: 48px;
}

.parent {
    margin-top : 15%;
    position: relative;
    height: 180px;
    background:linear-gradient(to right, #800109, #8a2103, #0b2a32);
}
.child {
    position: absolute;
    top: 0;
    left: 200px;
    right: 0;
    bottom: 0;
    border-width: 15px 0 15px 15px;
    border-style: solid;
    border-color: #2c3e50 #2c3e50 #2c3e50 #ccc;
}
.clasketuve{
    color: black;
}
.calculatrice
{
    width:300px;
    height:300px;
    background-color:#eeeeee;
    border:2px solid #CCCCCC;
    margin:auto;
    padding-left:5px;
    padding-bottom:5px;
    color : black;
}
.calculatrice td
{
    height:16.66%;
}
.calc_td_resultat
{
    text-align:center;
}
.calc_resultat
{
    width:90%;
    text-align:right;
}
.calc_td_calculs
{
    text-align:center;
}
.calc_calculs
{
    width:90%;
    text-align:left;
}
.calc_td_btn
{
    width:25%;
    height:100%;
}
.calc_btn
{
    width:90%;
    height:90%;
    font-size:20px;
}